.video-frame {
    align-items: center;
    background-color: black;
    display: flex;
    justify-content: center;
    width: 100%;
}

#video {
    aspect-ratio: 16/9;
    border: none;
    height: auto;
    padding: 0 auto;
    width: 60%;
}

.video-data {
    padding-left: 10px;
}

@media (max-width: 1400px) {
    #video {
        width: 80%;
    }
}

@media (max-width: 1050px) {
    #video {
        width: 100%;
    }
}